{% extends "base.html" %}

{% block content %}
    <div class="list">
    <h2>Список профессий</h2>
    {% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию',
             'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения',
             'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
    {% if type_list == 'ol' %}
        <ol>
            {% for elem in user_list %}
                <li>{{elem}}</li>
            {% endfor %}
        </ol>
    {% elif type_list == 'ul' %}
        <ul>
            {% for elem in user_list %}
                <li>{{elem}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Передан неверный параметр!</h3>
    {% endif %}
    </div>
{% endblock %}